[submodule "packages/selenoid"]
	path = packages/selenoid
	url = https://github.com/mineclover/selenoid.git
[submodule "packages/images"]
	path = packages/images
	url = https://github.com/mineclover/images.git
[submodule "packages/bridge"]
	path = packages/bridge
	url = https://github.com/mineclover/selenoid-bridge.git
[submodule "packages/hyperframes"]
	path = packages/hyperframes
	url = https://github.com/heygen-com/hyperframes
[submodule "reference/browser-mapper"]
	path = reference/browser-mapper
	url = https://github.com/mineclover/browser-mapper
